<div class="row">
  <div class="col-sm-6">
<div class="authform">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p>Leave these fields blank if you don't want to change your password.</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Update', :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
  <% if current_user.subscribed? %>
  <h3>Update Card</h3>

  <p>You current card on file is: </p>
  <div><%= current_user.card_brand %> **** **** **** <%= current_user.card_last4 %></div>
  <div>Expires <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>

  <hr />

  <%= form_tag card_path, method: :put, id: "payment-form" do %>
    <span class="payment-errors"></span>

    <div class="form-row">
      <label>
        <span>Card Number</span>
        <input type="text" size="20" data-stripe="number" value="4242 4242 4242 4242">
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Expiration (MM/YY)</span>
        <input type="text" size="2" data-stripe="exp_month" value="12">
      </label>
      <span> / </span>
      <input type="text" size="4" data-stripe="exp_year" value="2020">
    </div>

    <div class="form-row">
      <label>
        <span>CVC</span>
        <input type="text" size="3" data-stripe="cvc" value="123">
      </label>
    </div>

    <input type="submit" class="submit" value="Update Card">
  <% end %>
  <% end %>

  <h3>Cancel Account</h3>
  <p>Unhappy? <%= button_to "Cancel my account", subscription_path, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
</div>
</div>
<div class="col-sm-6">
  <h4>Your Previous Charges</h4>
  <% current_user.charges.each do |charge| %>
    <div>You were chaeged <%= charge.amount %>.</div>
    <div><%= charge.card_brand %> **** **** **** <%= charge.card_last4 %></div>
    <div>Expires <%= charge.card_exp_month %> / <%= charge.card_exp_year %></div>
  <% end %>
</div>
