%p#notice= notice

%p
  %b Name:
  = @episode.name
%p
  %b Description:
  = @episode.description

-if current_user_subscribed?
  OUR SECRET VIDEO
-else
  = link_to 'Subscribe To Watch', new_subscription_path, class: 'btn btn-primary'
  \|
  = link_to 'Back', episodes_path
